/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */
/* line 6, scss/colours.scss */
html, body {
  color: #536482;
  background-color: #FFFFFF; }

/* line 11, scss/colours.scss */
h1 {
  color: #FFFFFF; }

/* line 15, scss/colours.scss */
h2 {
  color: #28313F; }

/* line 19, scss/colours.scss */
h3 {
  border-bottom-color: #CCCCCC;
  color: #115098; }

/* line 24, scss/colours.scss */
hr {
  border-color: #FFFFFF;
  border-top-color: #CCCCCC; }

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */
/* line 34, scss/colours.scss */
a:link {
  color: #105289; }

/* line 35, scss/colours.scss */
a:visited {
  color: #105289; }

/* line 36, scss/colours.scss */
a:hover {
  color: #D31141; }

/* line 37, scss/colours.scss */
a:active {
  color: #368AD2; }

/* Links on gradient backgrounds */
/* line 40, scss/colours.scss */
#search-box a:link, .navbg a:link, .forumbg .header a:link, .forabg .header a:link, th a:link {
  color: #FFFFFF; }

/* line 44, scss/colours.scss */
#search-box a:visited, .navbg a:visited, .forumbg .header a:visited, .forabg .header a:visited, th a:visited {
  color: #105289; }

/* line 48, scss/colours.scss */
#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
  color: #A8D8FF; }

/* line 52, scss/colours.scss */
#search-box a:active, .navbg a:active, .forumbg .header a:active, .forabg .header a:active, th a:active {
  color: #C8E6FF; }

/* Links for forum/topic lists */
/* line 57, scss/colours.scss */
a.forumtitle {
  color: #105289; }

/* a.forumtitle:visited { color: #105289; } */
/* line 63, scss/colours.scss */
a.forumtitle:hover {
  color: #BC2A4D; }

/* line 67, scss/colours.scss */
a.forumtitle:active {
  color: #105289; }

/* line 71, scss/colours.scss */
a.topictitle {
  color: #105289; }

/* a.topictitle:visited { color: #368AD2; } */
/* line 77, scss/colours.scss */
a.topictitle:hover {
  color: #BC2A4D; }

/* line 81, scss/colours.scss */
a.topictitle:active {
  color: #105289; }

/* Search box
--------------------------------------------- */
/* line 88, scss/colours.scss */
#search-box {
  color: #FFFFFF; }

/* line 92, scss/colours.scss */
#search-box #keywords {
  background-color: #FFF; }

/* Round cornered boxes and backgrounds
---------------------------------------- */
/* line 108, scss/colours.scss */
.navbar {
  background-color: #b01f24;
  color: white; }
  /* line 113, scss/colours.scss */
  .navbar li:first-child a {
    border-left: none; }
  /* line 117, scss/colours.scss */
  .navbar a {
    color: white; }
  /* line 122, scss/colours.scss */
  .navbar .leftside a {
    border: none;
    padding: 0; }
  /* line 129, scss/colours.scss */
  .navbar .rightside a {
    padding-left: 10px;
    padding-right: 5px;
    border-left: 1px solid white; }

/* line 137, scss/colours.scss */
.forabg {
  background-color: #5d5d5d; }

/* line 142, scss/colours.scss */
.forumbg {
  background-color: #5d5d5d; }

/* line 147, scss/colours.scss */
.panel {
  background-color: white;
  color: #28313F;
  border: 1px solid #ccc; }

/* line 153, scss/colours.scss */
.post:target .content {
  color: #000000; }

/* line 157, scss/colours.scss */
.post:target h3 a {
  color: #000000; }

/*.bg1	{ background-color: #ECF3F7; }
.bg2	{ background-color: #e1ebf2;  }
.bg3	{ background-color: #cadceb; }*/
/* line 165, scss/colours.scss */
.bg1, .bg2, .bg3 {
  background-color: white; }

/* line 167, scss/colours.scss */
.ucprowbg {
  background-color: white; }

/* line 172, scss/colours.scss */
.fieldsbg {
  background-color: white; }

/* Horizontal lists
----------------------------------------*/
/* Table styles
----------------------------------------*/
/* line 186, scss/colours.scss */
table.table1 thead th {
  color: #FFFFFF; }

/* line 190, scss/colours.scss */
table.table1 tbody tr {
  border-color: #BFC1CF; }

/* line 194, scss/colours.scss */
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
  background-color: #CFE1F6;
  color: #000; }

/* line 199, scss/colours.scss */
table.table1 td {
  color: #536482; }

/* line 203, scss/colours.scss */
table.table1 tbody td {
  border-top-color: #FAFAFA; }

/* line 207, scss/colours.scss */
table.table1 tbody th {
  border-bottom-color: #000000;
  color: #333333;
  background-color: #FFFFFF; }

/* line 213, scss/colours.scss */
table.info tbody th {
  color: #000000; }

/* Misc layout styles
---------------------------------------- */
/* line 219, scss/colours.scss */
dl.details dt {
  color: #000000; }

/* line 223, scss/colours.scss */
dl.details dd {
  color: #536482; }

/* line 227, scss/colours.scss */
.sep {
  color: #1198D9; }

/* Pagination
---------------------------------------- */
/* line 234, scss/colours.scss */
.pagination li a, .pagination li a:link, .pagination li a:visited {
  color: #5C758C;
  background-color: #ECEDEE;
  border-color: #B4BAC0; }

/* line 240, scss/colours.scss */
.pagination li.ellipsis span {
  background-color: transparent;
  color: #000000; }

/* line 245, scss/colours.scss */
.pagination li.active span {
  color: #FFFFFF;
  background-color: #4692BF;
  border-color: #4692BF; }

/* line 251, scss/colours.scss */
.pagination li a:hover, .pagination .active a:hover {
  border-color: #368AD2;
  background-color: #368AD2;
  color: #FFFFFF; }

/* line 257, scss/colours.scss */
.pagination li a:active, .pagination li.active a:active {
  color: #5C758C;
  background-color: #ECEDEE;
  border-color: #B4BAC0; }

/* Pagination in viewforum for multipage topics */
/* line 264, scss/colours.scss */
.row .pagination {
  background-image: url("./images/icon_pages.gif"); }

/* line 268, scss/colours.scss */
.row .pagination span a, li.pagination span a {
  background-color: #FFFFFF; }

/* line 272, scss/colours.scss */
.row .pagination span a:hover, li.pagination span a:hover {
  background-color: #368AD2; }

/* Miscellaneous styles
---------------------------------------- */
/* line 279, scss/colours.scss */
.copyright {
  color: #555555; }

/* line 283, scss/colours.scss */
.error {
  color: #BC2A4D; }

/* line 287, scss/colours.scss */
.reported {
  background-color: #F7ECEF; }

/* line 291, scss/colours.scss */
li.reported:hover {
  background-color: #ECD5D8 !important; }

/* line 294, scss/colours.scss */
.sticky, .announce {
  /* you can add a background for stickies and announcements*/ }

/* line 298, scss/colours.scss */
div.rules {
  background-color: #ECD5D8;
  color: #BC2A4D; }

/* line 303, scss/colours.scss */
p.rules {
  background-color: #ECD5D8;
  background-image: none; }

/* Post body links */
/* line 309, scss/colours.scss */
.postlink {
  color: #368AD2;
  border-bottom-color: #368AD2; }

/* line 314, scss/colours.scss */
.postlink:visited {
  color: #5D8FBD;
  border-bottom-color: #5D8FBD; }

/* line 319, scss/colours.scss */
.postlink:active {
  color: #368AD2; }

/* line 323, scss/colours.scss */
.postlink:hover {
  background-color: #D0E4F6;
  color: #0D4473; }

/* line 328, scss/colours.scss */
.signature a, .signature a:visited, .signature a:hover, .signature a:active {
  background-color: transparent; }

/* Profile links */
/* line 333, scss/colours.scss */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
  color: #105289; }

/* line 337, scss/colours.scss */
.postprofile a:hover, .postprofile dt.author a:hover {
  color: #D31141; }

/* line 341, scss/colours.scss */
.postprofile a:active {
  color: #105289; }

/* Profile searchresults */
/* line 346, scss/colours.scss */
.search .postprofile a {
  color: #105289; }

/* line 350, scss/colours.scss */
.search .postprofile a:hover {
  color: #D31141; }

/* Back to top of page */
/* line 355, scss/colours.scss */
a.top {
  background-image: url("./images/icon_back_top.gif"); }

/* line 359, scss/colours.scss */
a.top2 {
  background-image: url("./images/icon_back_top.gif"); }

/* Arrow links  */
/* line 364, scss/colours.scss */
a.arrow-up {
  background-image: url("./images/arrow_up.gif"); }

/* line 365, scss/colours.scss */
a.arrow-down {
  background-image: url("./images/arrow_down.gif"); }

/* line 366, scss/colours.scss */
a.arrow-left {
  background-image: url("./images/arrow_left.gif"); }

/* line 367, scss/colours.scss */
a.arrow-right {
  background-image: url("./images/arrow_right.gif"); }

/* line 369, scss/colours.scss */
a.arrow-up:hover {
  background-color: transparent; }

/* line 373, scss/colours.scss */
a.arrow-left:hover {
  color: #368AD2; }

/* line 377, scss/colours.scss */
a.arrow-right:hover {
  color: #368AD2; }

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */
/* line 387, scss/colours.scss */
ul.forums {
  background-color: white; }

/* line 393, scss/colours.scss */
ul.topiclist li {
  color: #4C5D77; }
  /* line 396, scss/colours.scss */
  ul.topiclist li.header a {
    color: white !important; }

/* line 401, scss/colours.scss */
ul.topiclist dd {
  border-left-color: #dedede; }

/* line 405, scss/colours.scss */
.rtl ul.topiclist dd {
  border-right-color: #fff;
  border-left-color: transparent; }

/* line 410, scss/colours.scss */
ul.topiclist li.row dt a.subforum.read {
  background-image: url("./images/subforum_read.gif"); }

/* line 414, scss/colours.scss */
ul.topiclist li.row dt a.subforum.unread {
  background-image: url("./images/subforum_unread.gif"); }

/* line 418, scss/colours.scss */
li.row {
  border-top-color: #FFFFFF;
  border-bottom-color: #dedede; }

/* line 427, scss/colours.scss */
li.row strong {
  color: #000000; }

/* line 435, scss/colours.scss */
li.row:hover dd {
  border-left-color: #CCCCCC; }

/* line 439, scss/colours.scss */
.rtl li.row:hover dd {
  border-right-color: #CCCCCC;
  border-left-color: transparent; }

/* line 444, scss/colours.scss */
li.header dt, li.header dd {
  color: #FFFFFF; }

/* Post body styles
----------------------------------------*/
/* line 450, scss/colours.scss */
.postbody {
  color: #333333; }

/* Content container styles
----------------------------------------*/
/* line 456, scss/colours.scss */
.content {
  color: #333333; }

/* line 460, scss/colours.scss */
.content h2, .panel h2 {
  color: #115098;
  border-bottom-color: #CCCCCC; }

/* line 465, scss/colours.scss */
dl.faq dt {
  color: #333333; }

/* line 469, scss/colours.scss */
.posthilit {
  background-color: #F3BFCC;
  color: #BC2A4D; }

/* line 474, scss/colours.scss */
.announce, .unreadpost {
  /* Highlight the announcements & unread posts box */ }

/* Post signature */
/* line 479, scss/colours.scss */
.signature {
  border-top-color: #CCCCCC; }

/* Post noticies */
/* line 484, scss/colours.scss */
.notice {
  border-top-color: #CCCCCC; }

/* BB Code styles
----------------------------------------*/
/* Quote block */
/* line 491, scss/colours.scss */
blockquote {
  background-color: #EBEADD;
  background-image: url("./images/quote.gif");
  border-color: #DBDBCE; }

/* line 497, scss/colours.scss */
.rtl blockquote {
  background-image: url("./images/quote_rtl.gif"); }

/* line 501, scss/colours.scss */
blockquote blockquote {
  /* Nested quotes */
  background-color: #EFEED9; }

/* line 506, scss/colours.scss */
blockquote blockquote blockquote {
  /* Nested quotes */
  background-color: #EBEADD; }

/* Code block */
/* line 512, scss/colours.scss */
dl.codebox {
  background-color: #FFFFFF;
  border-color: #C9D2D8; }

/* line 517, scss/colours.scss */
dl.codebox dt {
  border-bottom-color: #CCCCCC; }

/* line 521, scss/colours.scss */
dl.codebox code {
  color: #2E8B57; }

/* line 525, scss/colours.scss */
.syntaxbg {
  color: #FFFFFF; }

/* line 526, scss/colours.scss */
.syntaxcomment {
  color: #FF8000; }

/* line 527, scss/colours.scss */
.syntaxdefault {
  color: #0000BB; }

/* line 528, scss/colours.scss */
.syntaxhtml {
  color: #000000; }

/* line 529, scss/colours.scss */
.syntaxkeyword {
  color: #007700; }

/* line 530, scss/colours.scss */
.syntaxstring {
  color: #DD0000; }

/* Attachments
----------------------------------------*/
/* line 534, scss/colours.scss */
.attachbox {
  background-color: #FFFFFF;
  border-color: #C9D2D8; }

/* line 539, scss/colours.scss */
.pm-message .attachbox {
  background-color: #F2F3F3; }

/* line 543, scss/colours.scss */
.attachbox dd {
  border-top-color: #C9D2D8; }

/* line 547, scss/colours.scss */
.attachbox p {
  color: #666666; }

/* line 551, scss/colours.scss */
.attachbox p.stats {
  color: #666666; }

/* line 555, scss/colours.scss */
.attach-image img {
  border-color: #999999; }

/* Inline image thumbnails */
/* line 561, scss/colours.scss */
dl.file dd {
  color: #666666; }

/* line 565, scss/colours.scss */
dl.thumbnail img {
  border-color: #666666;
  background-color: #FFFFFF; }

/* line 570, scss/colours.scss */
dl.thumbnail dd {
  color: #666666; }

/* line 574, scss/colours.scss */
dl.thumbnail dt a:hover {
  background-color: #EEEEEE; }

/* line 578, scss/colours.scss */
dl.thumbnail dt a:hover img {
  border-color: #368AD2; }

/* Post poll styles
----------------------------------------*/
/* line 585, scss/colours.scss */
fieldset.polls dl {
  border-top-color: #DCDEE2;
  color: #666666; }

/* line 590, scss/colours.scss */
fieldset.polls dl.voted {
  color: #000000; }

/* line 594, scss/colours.scss */
fieldset.polls dd div {
  color: #FFFFFF; }

/* line 598, scss/colours.scss */
.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
  border-right-color: transparent; }

/* line 602, scss/colours.scss */
.pollbar1 {
  background-color: #AA2346;
  border-bottom-color: #74162C;
  border-right-color: #74162C; }

/* line 608, scss/colours.scss */
.rtl .pollbar1 {
  border-left-color: #74162C; }

/* line 612, scss/colours.scss */
.pollbar2 {
  background-color: #BE1E4A;
  border-bottom-color: #8C1C38;
  border-right-color: #8C1C38; }

/* line 618, scss/colours.scss */
.rtl .pollbar2 {
  border-left-color: #8C1C38; }

/* line 622, scss/colours.scss */
.pollbar3 {
  background-color: #D11A4E;
  border-bottom-color: #AA2346;
  border-right-color: #AA2346; }

/* line 628, scss/colours.scss */
.rtl .pollbar3 {
  border-left-color: #AA2346; }

/* line 632, scss/colours.scss */
.pollbar4 {
  background-color: #E41653;
  border-bottom-color: #BE1E4A;
  border-right-color: #BE1E4A; }

/* line 638, scss/colours.scss */
.rtl .pollbar4 {
  border-left-color: #BE1E4A; }

/* line 642, scss/colours.scss */
.pollbar5 {
  background-color: #F81157;
  border-bottom-color: #D11A4E;
  border-right-color: #D11A4E; }

/* line 648, scss/colours.scss */
.rtl .pollbar5 {
  border-left-color: #D11A4E; }

/* Poster profile block
----------------------------------------*/
/* line 654, scss/colours.scss */
.postprofile {
  color: #666666;
  border-left-color: #ccc; }

/* line 659, scss/colours.scss */
.rtl .postprofile {
  border-right-color: #ccc;
  border-left-color: transparent; }

/* line 664, scss/colours.scss */
.pm .postprofile {
  border-left-color: #DDDDDD; }

/* line 668, scss/colours.scss */
.rtl .pm .postprofile {
  border-right-color: #DDDDDD;
  border-left-color: transparent; }

/* line 673, scss/colours.scss */
.postprofile strong {
  color: #000000; }

/* line 677, scss/colours.scss */
.online {
  background-image: url("./en/icon_user_online.gif"); }

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
/* line 686, scss/colours.scss */
a.print {
  background-image: url("./images/icon_print.gif");
  margin-top: 7px; }

/* line 691, scss/colours.scss */
a.sendemail {
  background-image: url("./images/icon_sendemail.gif");
  margin-top: 8px; }

/* line 696, scss/colours.scss */
.buttons div a {
  border-color: #C7C3BF;
  background-color: #FFFFFF;
  background-image: -moz-linear-gradient(top, white, #e9e9e9);
  background-image: -webkit-linear-gradient(top, white, #e9e9e9);
  background-image: -o-linear-gradient(top, white, #e9e9e9);
  background-image: linear-gradient(to bottom, #ffffff, #e9e9e9);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#E9E9E9')";
  box-shadow: 0 0 0 1px #FFFFFF inset;
  -webkit-box-shadow: 0 0 0 1px #FFFFFF inset;
  color: #BC2A4D !important; }

/* line 709, scss/colours.scss */
.buttons div a:hover {
  border-color: #0a8ed0;
  background-image: -moz-linear-gradient(top, #e9e9e9, white);
  background-image: -webkit-linear-gradient(top, #e9e9e9, white);
  background-image: -o-linear-gradient(top, #e9e9e9, white);
  background-image: linear-gradient(to bottom, #e9e9e9, #ffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E9E9E9', EndColorStr='#FFFFFF')";
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px -1px 0 rgba(188, 42, 77, 0.2); }

/* line 719, scss/colours.scss */
.buttons div a:after {
  background-image: url("images/buttons.png"); }

/* Icon images
---------------------------------------- */
/* line 725, scss/colours.scss */
.sitehome {
  background-image: url("./images/icon_home.gif"); }

/* line 726, scss/colours.scss */
.icon-faq {
  background-image: url("./images/icon_faq.gif"); }

/* line 727, scss/colours.scss */
.icon-members {
  background-image: url("./images/icon_members.gif"); }

/* line 728, scss/colours.scss */
.icon-home {
  background-image: url("./images/icon_home.gif"); }

/* line 729, scss/colours.scss */
.icon-ucp {
  background-image: url("./images/icon_ucp.gif"); }

/* line 730, scss/colours.scss */
.icon-register {
  background-image: url("./images/icon_register.gif"); }

/* line 731, scss/colours.scss */
.icon-logout {
  background-image: url("./images/icon_logout.gif"); }

/* line 732, scss/colours.scss */
.icon-bookmark {
  background-image: url("./images/icon_bookmark.gif"); }

/* line 733, scss/colours.scss */
.icon-bump {
  background-image: url("./images/icon_bump.gif"); }

/* line 734, scss/colours.scss */
.icon-subscribe {
  background-image: url("./images/icon_subscribe.gif"); }

/* line 735, scss/colours.scss */
.icon-unsubscribe {
  background-image: url("./images/icon_unsubscribe.gif"); }

/* line 736, scss/colours.scss */
.icon-pages {
  background-image: url("./images/icon_pages.gif"); }

/* line 737, scss/colours.scss */
.icon-search {
  background-image: url("./images/icon_search.gif"); }

/* Profile & navigation icons */
/* line 740, scss/colours.scss */
.email-icon, .email-icon a {
  background-image: url("./images/icon_contact_email.gif"); }

/* line 741, scss/colours.scss */
.aim-icon, .aim-icon a {
  background-image: url("./images/icon_contact_aim.gif"); }

/* line 742, scss/colours.scss */
.yahoo-icon, .yahoo-icon a {
  background-image: url("./images/icon_contact_yahoo.gif"); }

/* line 743, scss/colours.scss */
.web-icon, .web-icon a {
  background-image: url("./images/icon_contact_www.gif"); }

/* line 744, scss/colours.scss */
.msnm-icon, .msnm-icon a {
  background-image: url("./images/icon_contact_msnm.gif"); }

/* line 745, scss/colours.scss */
.icq-icon, .icq-icon a {
  background-image: url("./images/icon_contact_icq.gif"); }

/* line 746, scss/colours.scss */
.jabber-icon, .jabber-icon a {
  background-image: url("./images/icon_contact_jabber.gif"); }

/* line 747, scss/colours.scss */
.pm-icon, .pm-icon a {
  background-image: url("./en/icon_contact_pm.gif"); }

/* line 748, scss/colours.scss */
.quote-icon, .quote-icon a {
  background-image: url("./en/icon_post_quote.gif"); }

/* Moderator icons */
/* line 751, scss/colours.scss */
.report-icon, .report-icon a {
  background-image: url("./images/icon_post_report.gif"); }

/* line 752, scss/colours.scss */
.edit-icon, .edit-icon a {
  background-image: url("./en/icon_post_edit.gif"); }

/* line 753, scss/colours.scss */
.delete-icon, .delete-icon a {
  background-image: url("./images/icon_post_delete.gif"); }

/* line 754, scss/colours.scss */
.info-icon, .info-icon a {
  background-image: url("./images/icon_post_info.gif"); }

/* line 755, scss/colours.scss */
.warn-icon, .warn-icon a {
  background-image: url("./images/icon_user_warn.gif"); }

/* Need updated warn icon */
/* Forum icons & Topic icons */
/* line 758, scss/colours.scss */
.global_read {
  background-image: url("./images/announce_read.gif"); }

/* line 759, scss/colours.scss */
.global_read_mine {
  background-image: url("./images/announce_read_mine.gif"); }

/* line 760, scss/colours.scss */
.global_read_locked {
  background-image: url("./images/announce_read_locked.gif"); }

/* line 761, scss/colours.scss */
.global_read_locked_mine {
  background-image: url("./images/announce_read_locked_mine.gif"); }

/* line 762, scss/colours.scss */
.global_unread {
  background-image: url("./images/announce_unread.gif"); }

/* line 763, scss/colours.scss */
.global_unread_mine {
  background-image: url("./images/announce_unread_mine.gif"); }

/* line 764, scss/colours.scss */
.global_unread_locked {
  background-image: url("./images/announce_unread_locked.gif"); }

/* line 765, scss/colours.scss */
.global_unread_locked_mine {
  background-image: url("./images/announce_unread_locked_mine.gif"); }

/* line 767, scss/colours.scss */
.announce_read {
  background-image: url("./images/announce_read.gif"); }

/* line 768, scss/colours.scss */
.announce_read_mine {
  background-image: url("./images/announce_read_mine.gif"); }

/* line 769, scss/colours.scss */
.announce_read_locked {
  background-image: url("./images/announce_read_locked.gif"); }

/* line 770, scss/colours.scss */
.announce_read_locked_mine {
  background-image: url("./images/announce_read_locked_mine.gif"); }

/* line 771, scss/colours.scss */
.announce_unread {
  background-image: url("./images/announce_unread.gif"); }

/* line 772, scss/colours.scss */
.announce_unread_mine {
  background-image: url("./images/announce_unread_mine.gif"); }

/* line 773, scss/colours.scss */
.announce_unread_locked {
  background-image: url("./images/announce_unread_locked.gif"); }

/* line 774, scss/colours.scss */
.announce_unread_locked_mine {
  background-image: url("./images/announce_unread_locked_mine.gif"); }

/* line 776, scss/colours.scss */
.forum_link {
  background-image: url("./images/forum_link.gif"); }

/* line 777, scss/colours.scss */
.forum_read {
  background-image: url("./images/forum_read.gif"); }

/* line 778, scss/colours.scss */
.forum_read_locked {
  background-image: url("./images/forum_read_locked.gif"); }

/* line 779, scss/colours.scss */
.forum_read_subforum {
  background-image: url("./images/forum_read_subforum.gif"); }

/* line 780, scss/colours.scss */
.forum_unread {
  background-image: url("./images/forum_unread.gif"); }

/* line 781, scss/colours.scss */
.forum_unread_locked {
  background-image: url("./images/forum_unread_locked.gif"); }

/* line 782, scss/colours.scss */
.forum_unread_subforum {
  background-image: url("./images/forum_unread_subforum.gif"); }

/* line 784, scss/colours.scss */
.sticky_read {
  background-image: url("./images/sticky_read.gif"); }

/* line 785, scss/colours.scss */
.sticky_read_mine {
  background-image: url("./images/sticky_read_mine.gif"); }

/* line 786, scss/colours.scss */
.sticky_read_locked {
  background-image: url("./images/sticky_read_locked.gif"); }

/* line 787, scss/colours.scss */
.sticky_read_locked_mine {
  background-image: url("./images/sticky_read_locked_mine.gif"); }

/* line 788, scss/colours.scss */
.sticky_unread {
  background-image: url("./images/sticky_unread.gif"); }

/* line 789, scss/colours.scss */
.sticky_unread_mine {
  background-image: url("./images/sticky_unread_mine.gif"); }

/* line 790, scss/colours.scss */
.sticky_unread_locked {
  background-image: url("./images/sticky_unread_locked.gif"); }

/* line 791, scss/colours.scss */
.sticky_unread_locked_mine {
  background-image: url("./images/sticky_unread_locked_mine.gif"); }

/* line 793, scss/colours.scss */
.topic_moved {
  background-image: url("./images/topic_moved.gif"); }

/* line 794, scss/colours.scss */
.topic_read {
  background-image: url("./images/topic_read.gif"); }

/* line 795, scss/colours.scss */
.topic_read_mine {
  background-image: url("./images/topic_read_mine.gif"); }

/* line 796, scss/colours.scss */
.topic_read_hot {
  background-image: url("./images/topic_read_hot.gif"); }

/* line 797, scss/colours.scss */
.topic_read_hot_mine {
  background-image: url("./images/topic_read_hot_mine.gif"); }

/* line 798, scss/colours.scss */
.topic_read_locked {
  background-image: url("./images/topic_read_locked.gif"); }

/* line 799, scss/colours.scss */
.topic_read_locked_mine {
  background-image: url("./images/topic_read_locked_mine.gif"); }

/* line 800, scss/colours.scss */
.topic_unread {
  background-image: url("./images/topic_unread.gif"); }

/* line 801, scss/colours.scss */
.topic_unread_mine {
  background-image: url("./images/topic_unread_mine.gif"); }

/* line 802, scss/colours.scss */
.topic_unread_hot {
  background-image: url("./images/topic_unread_hot.gif"); }

/* line 803, scss/colours.scss */
.topic_unread_hot_mine {
  background-image: url("./images/topic_unread_hot_mine.gif"); }

/* line 804, scss/colours.scss */
.topic_unread_locked {
  background-image: url("./images/topic_unread_locked.gif"); }

/* line 805, scss/colours.scss */
.topic_unread_locked_mine {
  background-image: url("./images/topic_unread_locked_mine.gif"); }

/* line 807, scss/colours.scss */
.pm_read {
  background-image: url("./images/topic_read.gif"); }

/* line 808, scss/colours.scss */
.pm_unread {
  background-image: url("./images/topic_unread.gif"); }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */
/* Main CP box
----------------------------------------*/
/* line 818, scss/colours.scss */
#cp-main h3, #cp-main hr, #cp-menu hr {
  border-color: #A4B3BF; }

/* line 822, scss/colours.scss */
#cp-main .panel li.row {
  border-bottom-color: #B5C1CB;
  border-top-color: #F9F9F9; }

/* line 827, scss/colours.scss */
ul.cplist {
  border-top-color: #B5C1CB; }

/* line 831, scss/colours.scss */
#cp-main .panel li.header dd, #cp-main .panel li.header dt {
  color: #000000; }

/* line 835, scss/colours.scss */
#cp-main table.table1 thead th {
  color: #333333;
  border-bottom-color: #333333; }

/* line 840, scss/colours.scss */
#cp-main .pm-message {
  border-color: #DBDEE2;
  background-color: #FFFFFF; }

/* CP tabbed menu
----------------------------------------*/
/* line 847, scss/colours.scss */
#tabs a {
  background-image: url("./images/bg_tabs1.gif"); }

/* line 851, scss/colours.scss */
#tabs a span {
  background-image: url("./images/bg_tabs2.gif");
  color: #536482; }

/* line 856, scss/colours.scss */
#tabs a:hover span {
  color: #BC2A4D; }

/* line 860, scss/colours.scss */
#tabs .activetab a {
  border-bottom-color: #CADCEB; }

/* line 864, scss/colours.scss */
#tabs .activetab a span {
  color: #333333; }

/* line 868, scss/colours.scss */
#tabs .activetab a:hover span {
  color: #000000; }

/* Mini tabbed menu used in MCP
----------------------------------------*/
/* line 874, scss/colours.scss */
#minitabs li {
  background-color: #E1EBF2; }

/* line 878, scss/colours.scss */
#minitabs li.activetab {
  background-color: #F9F9F9; }

/* line 882, scss/colours.scss */
#minitabs li.activetab a, #minitabs li.activetab a:hover {
  color: #333333; }

/* UCP navigation menu
----------------------------------------*/
/* Link styles for the sub-section links */
/* line 890, scss/colours.scss */
#navigation a {
  color: #333;
  background-color: #B2C2CF;
  background-image: url("./images/bg_menu.gif"); }

/* line 896, scss/colours.scss */
.rtl #navigation a {
  background-image: url("./images/bg_menu_rtl.gif");
  background-position: 0 100%; }

/* line 901, scss/colours.scss */
#navigation a:hover {
  background-image: none;
  background-color: #aabac6;
  color: #BC2A4D; }

/* line 907, scss/colours.scss */
#navigation #active-subsection a {
  color: #D31141;
  background-color: #F9F9F9;
  background-image: none; }

/* line 913, scss/colours.scss */
#navigation #active-subsection a:hover {
  color: #D31141; }

/* Preferences pane layout
----------------------------------------*/
/* line 919, scss/colours.scss */
#cp-main h2 {
  color: #333333; }

/* line 923, scss/colours.scss */
#cp-main .panel {
  background-color: #F9F9F9; }

/* line 927, scss/colours.scss */
#cp-main .pm {
  background-color: #FFFFFF; }

/* Friends list */
/* line 932, scss/colours.scss */
.cp-mini {
  background-color: #eef5f9; }

/* line 936, scss/colours.scss */
dl.mini dt {
  color: #425067; }

/* PM Styles
----------------------------------------*/
/* PM Message history */
/* line 943, scss/colours.scss */
.current {
  color: #000000 !important; }

/* PM marking colours */
/* line 948, scss/colours.scss */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
  border-left-color: #BC2A4D;
  border-right-color: #BC2A4D; }

/* line 953, scss/colours.scss */
.pmlist li.pm_marked_colour, .pm_marked_colour {
  border-color: #FF6600; }

/* line 957, scss/colours.scss */
.pmlist li.pm_replied_colour, .pm_replied_colour {
  border-color: #A9B8C2; }

/* line 961, scss/colours.scss */
.pmlist li.pm_friend_colour, .pm_friend_colour {
  border-color: #5D8FBD; }

/* line 965, scss/colours.scss */
.pmlist li.pm_foe_colour, .pm_foe_colour {
  border-color: #000000; }

/* Avatar gallery */
/* line 970, scss/colours.scss */
#gallery label {
  background: #FFFFFF;
  border-color: #CCC; }

/* line 975, scss/colours.scss */
#gallery label:hover {
  background-color: #EEE; }

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */
/* General form styles
----------------------------------------*/
/* line 986, scss/colours.scss */
select {
  border-color: #666666;
  background-color: #FAFAFA;
  color: #000; }

/* line 992, scss/colours.scss */
label {
  color: #425067; }

/* line 996, scss/colours.scss */
option.disabled-option {
  color: graytext; }

/* Definition list layout for forms
---------------------------------------- */
/* line 1002, scss/colours.scss */
dd label {
  color: #333; }

/* line 1006, scss/colours.scss */
fieldset.fields1 {
  background-color: transparent; }

/* Hover effects */
/* line 1011, scss/colours.scss */
fieldset dl:hover dt label {
  color: #000000; }

/* line 1015, scss/colours.scss */
fieldset.fields2 dl:hover dt label {
  color: inherit; }

/* Quick-login on index page */
/* line 1020, scss/colours.scss */
fieldset.quick-login input.inputbox {
  background-color: #F2F3F3; }

/* Posting page styles
----------------------------------------*/
/* line 1027, scss/colours.scss */
#message-box textarea {
  color: #333333; }

/* Input field styles
---------------------------------------- */
/* line 1033, scss/colours.scss */
.inputbox {
  background-color: #FFFFFF;
  border-color: #B4BAC0;
  color: #333333; }

/* line 1039, scss/colours.scss */
.inputbox:-moz-placeholder {
  color: #333333; }

/* line 1043, scss/colours.scss */
.inputbox::-webkit-input-placeholder {
  color: #333333; }

/* line 1047, scss/colours.scss */
.inputbox:hover {
  border-color: #11A3EA; }

/* line 1051, scss/colours.scss */
.inputbox:focus {
  border-color: #11A3EA;
  color: #0F4987; }

/* line 1056, scss/colours.scss */
.inputbox:focus:-moz-placeholder {
  color: transparent; }

/* line 1060, scss/colours.scss */
.inputbox:focus::-webkit-input-placeholder {
  color: transparent; }

/* Form button styles
---------------------------------------- */
/* line 1068, scss/colours.scss */
a.button1, input.button1, input.button3, a.button2, input.button2 {
  color: #000;
  background-color: #FAFAFA;
  background-image: url("./images/bg_button.gif"); }

/* line 1074, scss/colours.scss */
a.button1, input.button1 {
  border-color: #666666; }

/* line 1078, scss/colours.scss */
input.button3 {
  background-image: none; }

/* Alternative button */
/* line 1083, scss/colours.scss */
a.button2, input.button2, input.button3 {
  border-color: #666666; }

/* <a> button in the style of the form buttons */
/* line 1088, scss/colours.scss */
a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active {
  color: #000000; }

/* Hover states */
/* line 1093, scss/colours.scss */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
  border-color: #BC2A4D;
  color: #BC2A4D; }

/* line 1098, scss/colours.scss */
input.search {
  background-image: url("./images/icon_textbox_search.gif"); }

/* line 1102, scss/colours.scss */
input.disabled {
  color: #666666; }

/* jQuery popups
---------------------------------------- */
/* line 1108, scss/colours.scss */
.phpbb_alert {
  background-color: #FFFFFF;
  border-color: #999999; }

/* line 1112, scss/colours.scss */
.phpbb_alert .alert_close {
  background-image: url("./images/alert_close.png"); }

/* line 1115, scss/colours.scss */
#darken {
  background-color: #000000; }

/* line 1119, scss/colours.scss */
#notification_list {
  background-color: #FFFFFF;
  border-color: #B9B9B9;
  color: #333; }

/* line 1125, scss/colours.scss */
#notification_list ul li {
  border-bottom-color: #B9B9B9; }

/* line 1134, scss/colours.scss */
#notification_list > .header, .notification_list > .footer {
  border-color: #B9B9B9;
  color: #000000; }
  /* line 1138, scss/colours.scss */
  #notification_list > .header > a, .notification_list > .footer > a {
    font-size: 12px;
    color: #105289; }

/* line 1144, scss/colours.scss */
#notification_list > .header {
  background: black;
  color: white; }

/* line 1155, scss/colours.scss */
.notification_list .pointer {
  border-bottom-color: #B9B9B9; }

/* line 1159, scss/colours.scss */
.notification_list .pointer_inner {
  border-bottom-color: black; }
